@*
    Страница входа для пользователя
        Логин
        Пароль

    JS - Я сам
*@
@{
}

<div>
    <input placeholder="Login"/>
    <input placeholder="password"/>
    <button>Войти</button>
</div>
